<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DriveExamination.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F15210ADFC78FF3BC5C3B6DA3521ADDF66A62F7C</string>
				<key>dateExpires</key>
				<string>2021/8/11</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F15210ADFC78FF3BC5C3B6DA3521ADDF66A62F7C</string>
						<key>dateExpires</key>
						<string>2021/8/11</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L8CQ8M4498</string>
						<key>name</key>
						<string>kun Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F15210ADFC78FF3BC5C3B6DA3521ADDF66A62F7C</string>
						<key>dateExpires</key>
						<string>2021/8/11</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L8CQ8M4498</string>
						<key>name</key>
						<string>kun Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F15210ADFC78FF3BC5C3B6DA3521ADDF66A62F7C</string>
						<key>dateExpires</key>
						<string>2021/8/11</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>QMUIKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L8CQ8M4498</string>
						<key>name</key>
						<string>kun Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F15210ADFC78FF3BC5C3B6DA3521ADDF66A62F7C</string>
						<key>dateExpires</key>
						<string>2021/8/11</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDCycleScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L8CQ8M4498</string>
						<key>name</key>
						<string>kun Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F15210ADFC78FF3BC5C3B6DA3521ADDF66A62F7C</string>
						<key>dateExpires</key>
						<string>2021/8/11</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L8CQ8M4498</string>
						<key>name</key>
						<string>kun Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F15210ADFC78FF3BC5C3B6DA3521ADDF66A62F7C</string>
						<key>dateExpires</key>
						<string>2021/8/11</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L8CQ8M4498</string>
						<key>name</key>
						<string>kun Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F15210ADFC78FF3BC5C3B6DA3521ADDF66A62F7C</string>
						<key>dateExpires</key>
						<string>2021/8/11</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L8CQ8M4498</string>
						<key>name</key>
						<string>kun Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F15210ADFC78FF3BC5C3B6DA3521ADDF66A62F7C</string>
						<key>dateExpires</key>
						<string>2021/8/11</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>WCDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L8CQ8M4498</string>
						<key>name</key>
						<string>kun Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F15210ADFC78FF3BC5C3B6DA3521ADDF66A62F7C</string>
						<key>dateExpires</key>
						<string>2021/8/11</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L8CQ8M4498</string>
						<key>name</key>
						<string>kun Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F15210ADFC78FF3BC5C3B6DA3521ADDF66A62F7C</string>
						<key>dateExpires</key>
						<string>2021/8/11</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqlcipher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L8CQ8M4498</string>
						<key>name</key>
						<string>kun Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F15210ADFC78FF3BC5C3B6DA3521ADDF66A62F7C</string>
						<key>dateExpires</key>
						<string>2021/8/11</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqliterk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L8CQ8M4498</string>
						<key>name</key>
						<string>kun Liu</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>L8CQ8M4498.cn.cnjihui.DriveExamination.test</string>
				<key>com.apple.developer.team-identifier</key>
				<string>L8CQ8M4498</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>L8CQ8M4498.cn.cnjihui.DriveExamination.test</string>
				</array>
			</dict>
			<key>name</key>
			<string>DriveExamination.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1eed1b5d-c8ee-4268-a675-cecc311bf2b0</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>L8CQ8M4498</string>
				<key>name</key>
				<string>kun Liu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
